<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>servletPrincipal</display-name>
    <servlet-name>servletPrincipal</servlet-name>
    <servlet-class>com.miguel.servletPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletPrincipal</servlet-name>
    <url-pattern>/inicio/*</url-pattern>
  </servlet-mapping>
  <display-name>forEachPrueba</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>forEachServlet</display-name>
    <servlet-name>forEachServlet</servlet-name>
    <servlet-class>com.miguel.forEachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forEachServlet</servlet-name>
    <url-pattern>/foreach/*</url-pattern>
  </servlet-mapping>
</web-app>